---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import Hero from "../components/Hero.astro";
import Skills from "../components/skills.astro";
import Projects from "../components/projects.astro";
import Contact from "../components/contact.astro";
---

<Layout title="Falcode" description="نمونه کارها و مهارت‌های من">
  <section class="section" id="hero">
    <Hero />
  </section>
  <section class="section" id="skills">
    <Skills />
  </section>
  <section class="section" id="projects">
    <Projects />
  </section>
  <section class="section" id="contact">
    <Contact />
  </section>
</Layout>
