---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import Hero from "../components/Hero.astro";
import Skills from "../components/skills.astro";
---

<Layout title="رزومه من" description="نمونه کارها و مهارت‌های من">
  <section class="section" id="hero">
    <Hero />
  </section>
  <section class="section" id="skills">
    <Skills />
  </section>
</Layout>
